@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  text-decoration: underline;
}


.Modal{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.Modal.active{
  transform: scale(1);
}

.Modal_Content{
  width: 400px;
  height: 300px;
  background: white;
}